NEXT_PUBLIC_SITE_URL=https://ui.trophy.so
NEXT_PUBLIC_GA_MEASUREMENT_ID=

PROFOUND_CUSTOM_LOGGING_ENABLED=false
PROFOUND_API_KEY=
PROFOUND_LOG_QUERY_PARAM_ALLOWLIST=utm_source,utm_medium,utm_campaign,utm_term,utm_content,utm_id,utm_source_platform,utm_creative_format,utm_marketing_tactic
