openapi: 3.1.0
info:
  title: Trophy
  version: '1.7.0'
paths:
  /attributes:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List attributes.
      operationId: admin_attributes_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - attributes
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const attributes = await trophy.admin.attributes.list({
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            attributes = client.admin.attributes.list(
              limit=10,
              skip=0
            )
      parameters:
        - name: limit
          in: query
          description: Number of records to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
        - name: skip
          in: query
          description: Number of records to skip from the start of the list.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAttributesResponse'
              examples:
                Attributes list:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      name: Plan
                      key: plan
                      type: user
                    - id: '550e8400-e29b-41d4-a716-446655440001'
                      name: Device
                      key: device
                      type: event
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List attributes
      security:
        - ApiKeyAuth: []
    post:
      description: Create attributes.
      operationId: admin_attributes_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - attributes
      x-fern-sdk-method-name: create
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.attributes.create([
              {
                name: 'Plan',
                key: 'plan',
                type: 'user'
              },
              {
                name: 'Device',
                key: 'device',
                type: 'event'
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.attributes.create([
              {
                "name": "Plan",
                "key": "plan",
                "type": "user"
              },
              {
                "name": "Device",
                "key": "device",
                "type": "event"
              }
            ])
      requestBody:
        description: Array of attributes to create. Maximum 100 attributes per request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttributesRequest'
            examples:
              Create user and event attributes:
                value:
                  - name: Plan
                    key: plan
                    type: user
                  - name: Device
                    key: device
                    type: event
      responses:
        '200':
          description: Successful operation (no attributes created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAttributesResponse'
              examples:
                All requests had errors:
                  value:
                    created: []
                    issues:
                      - index: 0
                        severity: error
                        message: Name not a string
                      - index: 1
                        severity: error
                        message: Key already in use by another attribute of this type
        '201':
          description: Created (at least one attribute created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAttributesResponse'
              examples:
                Success with no issues:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Plan
                        key: plan
                        type: user
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        name: Device
                        key: device
                        type: event
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Create attributes
      security:
        - ApiKeyAuth: []
    patch:
      description: Update attributes by ID.
      operationId: admin_attributes_update
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - attributes
      x-fern-sdk-method-name: update
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.attributes.update([
              {
                id: '550e8400-e29b-41d4-a716-446655440000',
                name: 'Subscription Plan'
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.attributes.update([
              {
                "id": "550e8400-e29b-41d4-a716-446655440000",
                "name": "Subscription Plan"
              }
            ])
      requestBody:
        description: Array of attributes to update. Each item must include an ID and may include `name`. `key` and `type` cannot be changed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAttributesRequest'
            examples:
              Rename attributes:
                value:
                  - id: 550e8400-e29b-41d4-a716-446655440000
                    name: Subscription Plan
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAttributesResponse'
              examples:
                Success with no issues:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Subscription Plan
                        key: plan
                        type: user
                    issues: []
                Mixed success and errors:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        name: Device
                        key: device
                        type: event
                    issues:
                      - id: '550e8400-e29b-41d4-a716-446655440999'
                        severity: error
                        message: Attribute not found by ID
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Update attributes
      security:
        - ApiKeyAuth: []
    delete:
      description: Delete attributes by ID.
      operationId: admin_attributes_delete
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - attributes
      x-fern-sdk-method-name: delete
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.attributes.delete({
              ids: [
                '550e8400-e29b-41d4-a716-446655440000',
                '550e8400-e29b-41d4-a716-446655440001'
              ]
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.attributes.delete(
              ids=[
                '550e8400-e29b-41d4-a716-446655440000',
                '550e8400-e29b-41d4-a716-446655440001'
              ]
            )
      parameters:
        - name: ids
          in: query
          description: Attribute IDs to delete. Repeat the query param or provide a comma-separated list.
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
            minItems: 1
            maxItems: 100
          style: form
          explode: true
          examples:
            Multiple query params:
              value:
                - 550e8400-e29b-41d4-a716-446655440000
                - 550e8400-e29b-41d4-a716-446655440001
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAttributesResponse'
              examples:
                Success with no issues:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues: []
                Mixed success and errors:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues:
                      - id: not-a-uuid
                        severity: error
                        message: id must be a valid UUID
                      - id: '550e8400-e29b-41d4-a716-446655440999'
                        severity: error
                        message: Attribute not found by ID
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Delete attributes
      security:
        - ApiKeyAuth: []

  /attributes/{id}:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: Get an attribute by ID.
      operationId: admin_attributes_get
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - attributes
      x-fern-sdk-method-name: get
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const attribute = await trophy.admin.attributes.get(
              '550e8400-e29b-41d4-a716-446655440000'
            );
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            attribute = client.admin.attributes.get(
              "550e8400-e29b-41d4-a716-446655440000"
            )
      parameters:
        - name: id
          in: path
          description: The UUID of the attribute to retrieve.
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminAttribute'
              examples:
                User attribute:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    name: Plan
                    key: plan
                    type: user
                Event attribute:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440001'
                    name: Device
                    key: device
                    type: event
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Attribute Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Get an attribute
      security:
        - ApiKeyAuth: []

  /metrics:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List metrics.
      operationId: admin_metrics_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - metrics
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const metrics = await trophy.admin.metrics.list({
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            metrics = client.admin.metrics.list(
              limit=10,
              skip=0
            )
      parameters:
        - name: limit
          in: query
          description: Number of records to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
        - name: skip
          in: query
          description: Number of records to skip from the start of the list.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMetricsResponse'
              examples:
                Metrics list:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      name: Oldest Metric
                      key: oldest-metric
                      unitType: number
                      units: ''
                    - id: '550e8400-e29b-41d4-a716-446655440001'
                      name: Revenue
                      key: revenue
                      unitType: currency
                      units: USD
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List metrics
      security:
        - ApiKeyAuth: []
    post:
      description: Create metrics.
      operationId: admin_metrics_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - metrics
      x-fern-sdk-method-name: create
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.metrics.create([
              {
                name: 'Invites Sent',
                key: 'invites-sent'
              },
              {
                name: 'Revenue',
                key: 'revenue',
                unitType: 'currency',
                units: 'USD'
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.metrics.create([
              {
                "name": "Invites Sent",
                "key": "invites-sent"
              },
              {
                "name": "Revenue",
                "key": "revenue",
                "unitType": "currency",
                "units": "USD"
              }
            ])
      requestBody:
        description: Array of metrics to create. Maximum 100 metrics per request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMetricsRequest'
            examples:
              Create number and currency metrics:
                value:
                  - name: Invites Sent
                    key: invites-sent
                  - name: Revenue
                    key: revenue
                    unitType: currency
                    units: USD
      responses:
        '200':
          description: Successful operation (no metrics created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMetricsResponse'
              examples:
                All requests had errors:
                  value:
                    created: []
                    issues:
                      - index: 0
                        severity: error
                        message: Name not a string
                      - index: 1
                        severity: error
                        message: Key already in use by another metric
        '201':
          description: Created (at least one metric created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMetricsResponse'
              examples:
                Success with no issues:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Invites Sent
                        key: invites-sent
                        unitType: number
                        units: ''
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        name: Revenue
                        key: revenue
                        unitType: currency
                        units: USD
                    issues: []
                Mixed success and errors:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440002'
                        name: Signups
                        key: signups
                        unitType: number
                        units: ''
                    issues:
                      - index: 0
                        severity: error
                        message: Key already in use by another metric
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Create metrics
      security:
        - ApiKeyAuth: []
    patch:
      description: Update metrics by ID.
      operationId: admin_metrics_update
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - metrics
      x-fern-sdk-method-name: update
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.metrics.update([
              {
                id: '550e8400-e29b-41d4-a716-446655440000',
                name: 'Invites Completed',
                units: 'invites'
              },
              {
                id: '550e8400-e29b-41d4-a716-446655440001',
                unitType: 'number',
                units: 'dollars'
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.metrics.update([
              {
                "id": "550e8400-e29b-41d4-a716-446655440000",
                "name": "Invites Completed",
                "units": "invites"
              },
              {
                "id": "550e8400-e29b-41d4-a716-446655440001",
                "unitType": "number",
                "units": "dollars"
              }
            ])
      requestBody:
        description: Array of metrics to update. Each item must include an ID and may include any subset of mutable metric fields except `key`.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMetricsRequest'
            examples:
              Update metric fields:
                value:
                  - id: 550e8400-e29b-41d4-a716-446655440000
                    name: Invites Completed
                    units: invites
                  - id: 550e8400-e29b-41d4-a716-446655440001
                    unitType: number
                    units: dollars
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMetricsResponse'
              examples:
                Success with no issues:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Invites Completed
                        key: invites-sent
                        unitType: number
                        units: invites
                    issues: []
                Mixed success and errors:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        name: Revenue
                        key: revenue
                        unitType: number
                        units: dollars
                    issues:
                      - id: '550e8400-e29b-41d4-a716-446655440999'
                        severity: error
                        message: Metric not found by ID
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Update metrics
      security:
        - ApiKeyAuth: []
    delete:
      description: Delete metrics by ID.
      operationId: admin_metrics_delete
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - metrics
      x-fern-sdk-method-name: delete
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.metrics.delete({
              ids: [
                '550e8400-e29b-41d4-a716-446655440000',
                '550e8400-e29b-41d4-a716-446655440001'
              ]
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.metrics.delete(
              ids=[
                '550e8400-e29b-41d4-a716-446655440000',
                '550e8400-e29b-41d4-a716-446655440001'
              ]
            )
      parameters:
        - name: ids
          in: query
          description: Metric IDs to delete. Repeat the query param or provide a comma-separated list.
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
            minItems: 1
            maxItems: 100
          style: form
          explode: true
          examples:
            Multiple query params:
              value:
                - 550e8400-e29b-41d4-a716-446655440000
                - 550e8400-e29b-41d4-a716-446655440001
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteMetricsResponse'
              examples:
                Success with no issues:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues: []
                Mixed success and errors:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues:
                      - id: not-a-uuid
                        severity: error
                        message: id must be a valid UUID
                      - id: '550e8400-e29b-41d4-a716-446655440999'
                        severity: error
                        message: Metric not found by ID
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Delete metrics
      security:
        - ApiKeyAuth: []

  /metrics/{id}:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: Get a metric by ID.
      operationId: admin_metrics_get
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - metrics
      x-fern-sdk-method-name: get
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const metric = await trophy.admin.metrics.get(
              '550e8400-e29b-41d4-a716-446655440000'
            );
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            metric = client.admin.metrics.get(
              "550e8400-e29b-41d4-a716-446655440000"
            )
      parameters:
        - name: id
          in: path
          description: The UUID of the metric to retrieve.
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedMetric'
              examples:
                Number metric:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    name: Invites Sent
                    key: invites-sent
                    unitType: number
                    units: ''
                Currency metric:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440001'
                    name: Revenue
                    key: revenue
                    unitType: currency
                    units: USD
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Get a metric by ID
      security:
        - ApiKeyAuth: []

  /points:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List points systems.
      operationId: admin_points_systems_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - systems
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const systems = await trophy.admin.points.systems.list({
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            systems = client.admin.points.systems.list(
              limit=10,
              skip=0
            )
      parameters:
        - name: limit
          in: query
          description: Number of records to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
        - name: skip
          in: query
          description: Number of records to skip from the start of the list.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPointsSystemsResponse'
              examples:
                Systems list:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      name: XP
                      key: xp
                      description: Experience points
                      status: active
                      badge: null
                      maxPoints: null
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List points systems
      security:
        - ApiKeyAuth: []
    post:
      description: Create points systems. Optionally include sub-entities (levels, boosts, triggers) in each system payload to create them alongside the system.
      operationId: admin_points_systems_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - systems
      x-fern-sdk-method-name: create
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.systems.create([
              {
                name: 'XP',
                key: 'xp',
                description: 'Experience points',
                levels: [
                  { name: 'Bronze', key: 'bronze', points: 100 },
                  { name: 'Silver', key: 'silver', points: 500 }
                ]
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.systems.create(
              request=[{
                "name": "XP",
                "key": "xp",
                "description": "Experience points",
                "levels": [
                  {"name": "Bronze", "key": "bronze", "points": 100},
                  {"name": "Silver", "key": "silver", "points": 500}
                ]
              }]
            )
      requestBody:
        description: Array of points systems to create. Maximum 100 systems per request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePointsSystemsRequest'
            examples:
              Create a system with levels:
                value:
                  - name: XP
                    key: xp
                    description: Experience points
                    levels:
                      - name: Bronze
                        key: bronze
                        points: 100
                      - name: Silver
                        key: silver
                        points: 500
      responses:
        '200':
          description: Successful operation (no systems created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsSystemsResponse'
              examples:
                All requests had errors:
                  value:
                    created: []
                    issues:
                      - index: 0
                        severity: error
                        message: name must be a string
        '201':
          description: Created (at least one system created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsSystemsResponse'
              examples:
                Success with no issues:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: XP
                        key: xp
                        description: Experience points
                        status: active
                        badge: null
                        maxPoints: null
                        levels:
                          - id: '550e8400-e29b-41d4-a716-446655440001'
                            name: Bronze
                            key: bronze
                            points: 100
                            description: ''
                            badge: null
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Create points systems
      security:
        - ApiKeyAuth: []
    patch:
      description: Update points systems by ID.
      operationId: admin_points_systems_update
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - systems
      x-fern-sdk-method-name: update
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.systems.update([
              {
                id: 'system-uuid',
                name: 'New Name',
                description: 'Updated description'
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.systems.update(
              request=[{
                "id": "system-uuid",
                "name": "New Name",
                "description": "Updated description"
              }]
            )
      requestBody:
        description: Array of points system updates. Maximum 100 systems per request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePointsSystemsRequest'
            examples:
              Update a system name:
                value:
                  - id: '550e8400-e29b-41d4-a716-446655440000'
                    name: New Name
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePointsSystemsResponse'
              examples:
                Success:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: New Name
                        key: xp
                        description: ''
                        status: active
                        badge: null
                        maxPoints: null
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Update points systems
      security:
        - ApiKeyAuth: []
    delete:
      description: Delete (archive) points systems by ID.
      operationId: admin_points_systems_delete
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - systems
      x-fern-sdk-method-name: delete
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.systems.delete({
              ids: ['system-uuid-1', 'system-uuid-2']
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.systems.delete(
              ids=['system-uuid-1', 'system-uuid-2']
            )
      parameters:
        - name: ids
          in: query
          description: The IDs of the points systems to delete.
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
          example:
            - 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePointsSystemsResponse'
              examples:
                Success:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Delete points systems
      security:
        - ApiKeyAuth: []

  /points/{id}:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: Get a points system by ID.
      operationId: admin_points_systems_get
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - systems
      x-fern-sdk-method-name: get
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const system = await trophy.admin.points.systems.get('system-uuid');
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            system = client.admin.points.systems.get(id='system-uuid')
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: The ID of the points system.
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPointsSystem'
              examples:
                Points system:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    name: XP
                    key: xp
                    description: Experience points
                    status: active
                    badge: null
                    maxPoints: null
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Get a points system by ID
      security:
        - ApiKeyAuth: []

  /points/{systemId}/boosts:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List points boosts for a system.
      operationId: admin_points_boosts_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - boosts
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const boosts = await trophy.admin.points.boosts.list('system-uuid', {
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            boosts = client.admin.points.boosts.list(
              system_id='system-uuid',
              limit=10,
              skip=0
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: limit
          in: query
          description: Maximum number of results to return (1-100, default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: skip
          in: query
          description: Number of results to skip for pagination (default 0).
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: A paginated list of points boosts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPointsBoostsResponse'
              examples:
                Boosts list:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      name: Double XP Weekend
                      status: active
                      start: '2024-01-01'
                      end: '2024-01-03'
                      multiplier: 2
                      rounding: down
                      userId: user-123
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List points boosts
      security:
        - ApiKeyAuth: []
    post:
      description: Create points boosts.
      operationId: admin_points_boosts_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - boosts
      x-fern-sdk-method-name: create
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.points.boosts.create('system-uuid', [
              {
                userId: 'user-123',
                name: 'Double XP Weekend',
                start: '2024-01-01',
                end: '2024-01-03',
                multiplier: 2
              },
              {
                name: 'Global Holiday Bonus',
                start: '2024-12-25',
                multiplier: 1.5,
                rounding: 'up'
              },
              {
                name: 'Premium User Boost',
                start: '2024-01-01',
                multiplier: 2,
                userAttributes: [
                  { attributeId: 'attr-uuid', attributeValue: 'premium' }
                ]
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.points.boosts.create(
              system_id='system-uuid',
              boosts=[
                {
                  "userId": "user-123",
                  "name": "Double XP Weekend",
                  "start": "2024-01-01",
                  "end": "2024-01-03",
                  "multiplier": 2
                },
                {
                  "name": "Global Holiday Bonus",
                  "start": "2024-12-25",
                  "multiplier": 1.5,
                  "rounding": "up"
                },
                {
                  "name": "Premium User Boost",
                  "start": "2024-01-01",
                  "multiplier": 2,
                  "userAttributes": [
                    {"attributeId": "attr-uuid", "attributeValue": "premium"}
                  ]
                }
              ]
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
      requestBody:
        description: Array of boosts to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePointsBoostsRequest'
            examples:
              Create user-specific boost:
                value:
                  - userId: user-123
                    name: Double XP Weekend
                    start: '2024-01-01'
                    end: '2024-01-03'
                    multiplier: 2
              Create global boost:
                value:
                  - name: Global Holiday Bonus
                    start: '2024-12-25'
                    multiplier: 1.5
                    rounding: up
              Create boost with user attributes:
                value:
                  - name: Premium User Boost
                    start: '2024-01-01'
                    multiplier: 2
                    userAttributes:
                      - attributeId: '550e8400-e29b-41d4-a716-446655440000'
                        attributeValue: premium
      responses:
        '200':
          description: Successful operation (no boosts created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsBoostsResponse'
              examples:
                All requests had errors:
                  value:
                    created: []
                    issues:
                      - index: 0
                        severity: error
                        message: User does not exist
        '201':
          description: Created (at least one boost created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsBoostsResponse'
              examples:
                Success with no issues:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Double XP Weekend
                        status: active
                        start: '2024-01-01'
                        end: '2024-01-03'
                        multiplier: 2
                        rounding: down
                        userId: user-123
                    issues: []
                Global boost created:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        name: Global Holiday Bonus
                        status: active
                        start: '2024-01-15'
                        end: null
                        multiplier: 1.5
                        rounding: down
                        userId: null
                        userAttributes: []
                    issues: []
                Mixed success and errors:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        name: Valid Boost
                        status: active
                        start: '2024-01-15'
                        end: null
                        multiplier: 1.5
                        rounding: down
                        userId: null
                        userAttributes:
                          - attributeId: '550e8400-e29b-41d4-a716-446655440000'
                            attributeValue: premium
                    issues:
                      - index: 1
                        severity: error
                        message: User does not exist
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Create points boosts
      security:
        - ApiKeyAuth: []
    patch:
      description: Update multiple points boosts.
      operationId: admin_points_boosts_update
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - boosts
      x-fern-sdk-method-name: update
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.points.boosts.update('system-uuid', [
              {
                id: 'boost-uuid-1',
                name: 'Updated Boost Name',
                multiplier: 3
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.points.boosts.update(
              system_id='system-uuid',
              boosts=[
                {
                  "id": "boost-uuid-1",
                  "name": "Updated Boost Name",
                  "multiplier": 3
                }
              ]
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
      requestBody:
        description: Array of boost patches.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPointsBoostsRequest'
            examples:
              Update boost names and multipliers:
                value:
                  - id: '550e8400-e29b-41d4-a716-446655440000'
                    name: Updated Boost Name
                    multiplier: 3
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchPointsBoostsResponse'
              examples:
                Success:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Updated Boost Name
                        status: active
                        start: '2024-01-01'
                        end: '2024-01-03'
                        multiplier: 3
                        rounding: down
                        userId: user-123
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Update multiple points boosts
      security:
        - ApiKeyAuth: []
    delete:
      description: Delete multiple points boosts by ID.
      operationId: admin_points_boosts_delete
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - boosts
      x-fern-sdk-method-name: delete
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const response = await trophy.admin.points.boosts.delete('system-uuid', {
              ids: ['boost-uuid-1', 'boost-uuid-2', 'boost-uuid-3']
            });

            console.log(`Deleted ${response.deleted.length} boosts`);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            response = client.admin.points.boosts.delete(
              system_id='system-uuid',
              ids=['boost-uuid-1', 'boost-uuid-2', 'boost-uuid-3']
            )

            print(f"Deleted {len(response.deleted)} boosts")
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: ids
          in: query
          description: A list of up to 100 boost IDs.
          required: true
          schema:
            type: array
            items:
              type: string
            minItems: 1
            maxItems: 100
          example: 'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11,b1ffcd00-0d1c-4ef9-cc7e-7cc0ce491b22'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePointsBoostsResponse'
              examples:
                All boosts deleted:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                      - id: '550e8400-e29b-41d4-a716-446655440002'
                    issues: []
                Some boosts not found:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues:
                      - id: '550e8400-e29b-41d4-a716-446655440001'
                        severity: error
                        message: Points boost not found by ID
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity (no IDs provided or too many IDs)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Delete multiple points boosts
      security:
        - ApiKeyAuth: []
  /points/{systemId}/boosts/{id}:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: Get a single points boost by ID.
      operationId: admin_points_boosts_get
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - boosts
      x-fern-sdk-method-name: get
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const boost = await trophy.admin.points.boosts.get('system-uuid', 'boost-uuid');
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            boost = client.admin.points.boosts.get(
              system_id='system-uuid',
              boost_id='boost-uuid'
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: id
          in: path
          description: The UUID of the points boost.
          required: true
          schema:
            type: string
            format: uuid
          example: '660f9500-f30c-42e5-b827-557766550001'
      responses:
        '200':
          description: The points boost.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPointsBoost'
              examples:
                A single boost:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    name: Double XP Weekend
                    status: active
                    start: '2024-01-01'
                    end: '2024-01-03'
                    multiplier: 2
                    rounding: down
                    userId: user-123
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Get a points boost by ID
      security:
        - ApiKeyAuth: []
  /points/{systemId}/levels:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List points levels for a system.
      operationId: admin_points_levels_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - levels
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const levels = await trophy.admin.points.levels.list('system-uuid', {
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            levels = client.admin.points.levels.list(
              system_id='system-uuid',
              limit=10,
              skip=0
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: limit
          in: query
          description: Number of records to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
        - name: skip
          in: query
          description: Number of records to skip from the start of the list.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: A paginated list of points levels.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPointsLevelsResponse'
              examples:
                Two levels:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      name: Bronze
                      key: bronze
                      points: 100
                      description: Starting level
                      badge: null
                    - id: '660f9500-f30c-42e5-b827-557766550001'
                      name: Silver
                      key: silver
                      points: 500
                      description: Intermediate level
                      badge:
                        url: 'https://example.com/silver.png'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List points levels
      security:
        - ApiKeyAuth: []
    post:
      description: Create points levels. Maximum 100 levels per request.
      operationId: admin_points_levels_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - levels
      x-fern-sdk-method-name: create
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.levels.create('system-uuid', [
              {
                name: 'Bronze',
                key: 'bronze',
                points: 100,
                description: 'Starting level',
                badge: { url: 'https://example.com/bronze.png' }
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.levels.create(
              system_id='system-uuid',
              request=[{
                "name": "Bronze",
                "key": "bronze",
                "points": 100,
                "description": "Starting level",
                "badge": {"url": "https://example.com/bronze.png"}
              }]
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
      requestBody:
        description: Array of levels to create. Maximum 100 levels per request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePointsLevelsRequest'
      responses:
        '200':
          description: Successful operation (no levels created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsLevelsResponse'
              examples:
                No levels created:
                  value:
                    created: []
                    issues:
                      - index: 0
                        severity: error
                        message: Key already in use by another level
        '201':
          description: Created (at least one level created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsLevelsResponse'
              examples:
                Created successfully:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Bronze
                        key: bronze
                        points: 100
                        description: Starting level
                        badge:
                          url: 'https://example.com/bronze.png'
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Create points levels
      security:
        - ApiKeyAuth: []
    patch:
      description: Update multiple points levels. Each item must include an ID. `key` cannot be changed.
      operationId: admin_points_levels_update
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - levels
      x-fern-sdk-method-name: update
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.levels.update('system-uuid', [
              {
                id: '550e8400-e29b-41d4-a716-446655440000',
                name: 'Bronze Tier',
                points: 150
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.levels.update(
              system_id='system-uuid',
              request=[{
                "id": "550e8400-e29b-41d4-a716-446655440000",
                "name": "Bronze Tier",
                "points": 150
              }]
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
      requestBody:
        description: Array of level patches. Each item must include an ID.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPointsLevelsRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchPointsLevelsResponse'
              examples:
                Updated successfully:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        name: Bronze Tier
                        key: bronze
                        points: 150
                        description: Starting level
                        badge: null
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Update multiple points levels
      security:
        - ApiKeyAuth: []
    delete:
      description: Delete multiple points levels by ID.
      operationId: admin_points_levels_delete
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - levels
      x-fern-sdk-method-name: delete
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.levels.delete('system-uuid', {
              ids: ['550e8400-e29b-41d4-a716-446655440000']
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.levels.delete(
              system_id='system-uuid',
              ids=['550e8400-e29b-41d4-a716-446655440000']
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: ids
          in: query
          description: Comma-separated list of level UUIDs to delete.
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
          example: 'a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11,b1ffcd00-0d1c-4ef9-cc7e-7cc0ce491b22'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePointsLevelsResponse'
              examples:
                Deleted successfully:
                  value:
                    deleted:
                      - id: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                    issues: []
                Partial success:
                  value:
                    deleted:
                      - id: a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11
                    issues:
                      - id: b1ffcd00-0d1c-4ef9-cc7e-7cc0ce491b22
                        severity: error
                        message: Level not found by ID
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity (no IDs provided or too many IDs)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Delete multiple points levels
      security:
        - ApiKeyAuth: []
  /points/{systemId}/levels/{id}:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: Get a single points level by ID.
      operationId: admin_points_levels_get
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - levels
      x-fern-sdk-method-name: get
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const level = await trophy.admin.points.levels.get('system-uuid', 'level-uuid');
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            level = client.admin.points.levels.get(
              system_id='system-uuid',
              level_id='level-uuid'
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: id
          in: path
          description: The UUID of the points level.
          required: true
          schema:
            type: string
            format: uuid
          example: '660f9500-f30c-42e5-b827-557766550001'
      responses:
        '200':
          description: The points level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPointsLevel'
              examples:
                A single level:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    name: Bronze
                    key: bronze
                    points: 100
                    description: Starting level
                    badge:
                      url: 'https://example.com/bronze.png'
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Get a points level by ID
      security:
        - ApiKeyAuth: []
  /points/{systemId}/triggers:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List points triggers for a system.
      operationId: admin_points_triggers_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - triggers
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const triggers = await trophy.admin.points.triggers.list('system-uuid', {
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            triggers = client.admin.points.triggers.list(
              system_id='system-uuid',
              limit=10,
              skip=0
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: limit
          in: query
          description: Maximum number of results to return (1-100, default 10).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: skip
          in: query
          description: Number of results to skip for pagination (default 0).
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        '200':
          description: A paginated list of points triggers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPointsTriggersResponse'
              examples:
                Triggers list:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440000'
                      type: metric
                      points: 10
                      status: active
                      userAttributes: []
                      metricId: '660f9500-f30c-42e5-b827-557766550001'
                      metricThreshold: 5
                      eventAttributes: []
                      blockIfOutOfPoints: false
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List points triggers
      security:
        - ApiKeyAuth: []
    post:
      description: Create points triggers in bulk. Maximum 100 triggers per request.
      operationId: admin_points_triggers_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - triggers
      x-fern-sdk-method-name: create
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.triggers.create('system-uuid', [
              {
                type: 'metric',
                points: 10,
                metricId: 'metric-uuid',
                metricThreshold: 5
              }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.triggers.create(
              system_id='system-uuid',
              request=[{
                'type': 'metric',
                'points': 10,
                'metric_id': 'metric-uuid',
                'metric_threshold': 5
              }]
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePointsTriggersRequest'
      responses:
        '200':
          description: Request was valid but no triggers were created (all items had issues).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsTriggersResponse'
        '201':
          description: At least one trigger was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePointsTriggersResponse'
              examples:
                Created triggers:
                  value:
                    created:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        type: metric
                        points: 10
                        status: active
                        userAttributes: []
                        metricId: '660f9500-f30c-42e5-b827-557766550001'
                        metricThreshold: 5
                        eventAttributes: []
                        blockIfOutOfPoints: false
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Create points triggers
      security:
        - ApiKeyAuth: []
    patch:
      description: Update points triggers in bulk. Maximum 100 triggers per request. Only provided fields are updated; omitted fields are preserved.
      operationId: admin_points_triggers_update
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - triggers
      x-fern-sdk-method-name: update
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.triggers.update('system-uuid', [
              { id: 'trigger-uuid', points: 20 }
            ]);
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.triggers.update(
              system_id='system-uuid',
              request=[{'id': 'trigger-uuid', 'points': 20}]
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPointsTriggersRequest'
      responses:
        '200':
          description: Successfully processed the update request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchPointsTriggersResponse'
              examples:
                Updated triggers:
                  value:
                    updated:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                        type: metric
                        points: 20
                        status: active
                        userAttributes: []
                        metricId: '660f9500-f30c-42e5-b827-557766550001'
                        metricThreshold: 5
                        eventAttributes: []
                        blockIfOutOfPoints: false
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Update points triggers
      security:
        - ApiKeyAuth: []
    delete:
      description: Delete (archive) points triggers by ID. Maximum 100 trigger IDs per request.
      operationId: admin_points_triggers_delete
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - triggers
      x-fern-sdk-method-name: delete
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const result = await trophy.admin.points.triggers.delete('system-uuid', {
              ids: ['trigger-uuid-1', 'trigger-uuid-2']
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            result = client.admin.points.triggers.delete(
              system_id='system-uuid',
              ids=['trigger-uuid-1', 'trigger-uuid-2']
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: ids
          in: query
          description: Trigger IDs to delete. Can be repeated or comma-separated.
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
          style: form
          explode: true
          example:
            - '550e8400-e29b-41d4-a716-446655440000'
      responses:
        '200':
          description: Successfully processed the delete request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePointsTriggersResponse'
              examples:
                Deleted triggers:
                  value:
                    deleted:
                      - id: '550e8400-e29b-41d4-a716-446655440000'
                    issues: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found (points system not found)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Delete points triggers
      security:
        - ApiKeyAuth: []
  /points/{systemId}/triggers/{id}:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: Get a single points trigger by ID.
      operationId: admin_points_triggers_get
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - points
        - triggers
      x-fern-sdk-method-name: get
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const trigger = await trophy.admin.points.triggers.get('system-uuid', 'trigger-uuid');
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            trigger = client.admin.points.triggers.get(
              system_id='system-uuid',
              id='trigger-uuid'
            )
      parameters:
        - name: systemId
          in: path
          description: The UUID of the points system.
          required: true
          schema:
            type: string
            format: uuid
          example: '550e8400-e29b-41d4-a716-446655440000'
        - name: id
          in: path
          description: The UUID of the points trigger.
          required: true
          schema:
            type: string
            format: uuid
          example: '660f9500-f30c-42e5-b827-557766550001'
      responses:
        '200':
          description: The points trigger.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminPointsTrigger'
              examples:
                A single trigger:
                  value:
                    id: '550e8400-e29b-41d4-a716-446655440000'
                    type: metric
                    points: 10
                    status: active
                    userAttributes: []
                    metricId: '660f9500-f30c-42e5-b827-557766550001'
                    metricThreshold: 5
                    eventAttributes: []
                    blockIfOutOfPoints: false
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: Get a points trigger by ID
      security:
        - ApiKeyAuth: []
  /leaderboards:
    servers:
      - url: https://admin.trophy.so/v1
        description: Admin API
    get:
      description: List leaderboards.
      operationId: admin_leaderboards_list
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - leaderboards
      x-fern-sdk-method-name: list
      tags:
        - Admin
      x-codeSamples:
        - lang: javascript
          source: |
            import { TrophyApiClient } from '@trophyso/node';

            const trophy = new TrophyApiClient({
              apiKey: 'YOUR_API_KEY'
            });

            const leaderboards = await trophy.admin.leaderboards.list({
              limit: 10,
              skip: 0
            });
        - lang: python
          source: |
            from trophy import TrophyApi

            client = TrophyApi(api_key='YOUR_API_KEY')

            leaderboards = client.admin.leaderboards.list(
              limit=10,
              skip=0
            )
      parameters:
        - name: limit
          in: query
          description: Number of records to return.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          example: 10
        - name: skip
          in: query
          description: Number of records to skip from the start of the list.
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          example: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLeaderboardsResponse'
              examples:
                Leaderboards list:
                  value:
                    - id: '550e8400-e29b-41d4-a716-446655440100'
                      name: Revenue Champions
                      key: revenue-champions
                      description: Ranked by monthly revenue
                      status: active
                      rankBy: metric
                      metricId: '550e8400-e29b-41d4-a716-446655440000'
                      maxParticipants: 100
                      start: '2026-04-20'
                      end: '2026-05-20'
                      breakdownAttributes:
                        - '550e8400-e29b-41d4-a716-446655440010'
                      runUnit: month
                      runInterval: 1
                    - id: '550e8400-e29b-41d4-a716-446655440101'
                      name: Streak Legends
                      key: streak-legends
                      status: scheduled
                      rankBy: streak
                      maxParticipants: 1000
                      start: '2026-04-27'
                      breakdownAttributes: []
        '401':
          description: 'Unauthorized'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '422':
          description: 'Unprocessible Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      summary: List leaderboards
      security:
        - ApiKeyAuth: []
    post:
      servers:
        - url: https://admin.trophy.so/v1
          description: Admin API
      description: Create leaderboards. Maximum 100 leaderboards per request.
      operationId: admin_leaderboards_create
      x-fern-server-name: admin
      x-fern-sdk-group-name:
        - admin
        - leaderboards
      x-fern-sdk-method-name: create
      tags:
        - Admin
      requestBody:
        description: Array of leaderboards to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLeaderboardsRequest'
            examples:
              Create leaderboards:
                value:
                  - name: Revenue Champions
                    key: revenue-champions
                    status: inactive
                    rankBy: metric
                    metricId: 550e8400-e29b-41d4-a716-446655440000
                    maxParticipants: 100
                    start: '2026-04-20'
                    breakdownAttributes:
                      - 550e8400-e29b-41d4-a716-446655440010
                    runUnit: month
[...]
